@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 10% 8%;

    --card: 240 5% 96%;
    --card-foreground: 240 10% 8%;

    --popover: 240 5% 96%;
    --popover-foreground: 240 10% 8%;

    --primary: 30 38% 76%;
    --primary-foreground: 30 40% 15%;

    --secondary: 240 5% 92%;
    --secondary-foreground: 240 5.9% 15%;

    --muted: 240 5% 92%;
    --muted-foreground: 240 3.8% 51%;

    --accent: 240 5% 92%;
    --accent-foreground: 240 5.9% 15%;

    --destructive: 0 84.2% 65%;
    --destructive-foreground: 240 5% 96%;

    --border: 240 5.9% 88%;
    --input: 240 5.9% 88%;
    --ring: 240 5.9% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 8%;
    --foreground: 0 0% 100%;

    --card: 240 10% 8%;
    --card-foreground: 0 0% 100%;

    --popover: 240 10% 8%;
    --popover-foreground: 0 0% 100%;

    --primary: 30 38% 76%;
    --primary-foreground: 30 40% 15%;

    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3.7% 20%;
    --muted-foreground: 240 5% 70%;

    --accent: 240 3.7% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 35%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 240 4.9% 88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
